
{% comment %} Mega Nav Containing Sub_links and Sub_Sub_Links with one single image to the right {% endcomment %}
<div class="mega-nav-submenu-wrapper fade" id="mega-menu-oben">
    {% if horizontal_nav_linklist.handle != '' %} 
    <nav class="link-lists" id="{{ linklists.oben-nav-one.handle }}">
      {% comment %} LEVEL 1 {% endcomment %}

      {% comment %} {% for sub_link in link.links limit:1 %}
      <li class="{% if sub_link.active %} active{% endif %}">
        {% comment %} LEVEL 2 {% endcomment %}
        <ul>
          {% for sub_sub_link in sub_link.links %}
          <li>
            <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title | escape }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %} {% endcomment %}

      {% for sub_link in link.links %}
      <li class="li-1 {% if sub_link.active %} active{% endif %}">
          <a class="{% if sub_link.active %} active{% endif %}" href="{{ sub_link.url }}">
            <h3 class="li-title small-lift">{{ sub_link.title }}</h3>
          </a>
        {% comment %} LEVEL 2 {% endcomment %}
        <ul>
          {% for sub_sub_link in sub_link.links %}
          <li class="li-item small-lift">
            <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title | escape }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}

      {% comment %} IMAGE {% endcomment %}
      {% case index %}
      {% when 1 %}
      {% if settings.navlink1_image %}

      <li class="nav-single-img">
        <a  class="top-mega-nav-link_mm {% if link.active %}active{% endif %} level-1" href="{{ link.url }}">
          <div class="menu-image-teaser-link-wrapper">
            <img loading="lazy" class="lazyload" src="{{ settings.navlink1_image | img_url: '500x' }}" alt="{{ shop.name | escape }}"/>
            <div class="top-mega-nav-link-image-right-text">{{ settings.navlink1_heading1 }}<span>{{ settings.navlink1_heading2 }}</span></div>
          </div>
        </a>
      </li>

      {% endif %}
      {% when 2 %}
      {% if settings.navlink2_image %}
      <li class="nav-single-img">
        <a  class="top-mega-nav-link_mm{% if link.active %} active{% endif %} level-1" href="{{ link.url }}">
          <div class="menu-image-teaser-link-wrapper">
            <img loading="lazy" src="{{ settings.navlink2_image | img_url: '500x' }}" />
            <div class="top-mega-nav-link-image-right-text">{{ settings.navlink2_heading1 }}<span>{{ settings.navlink2_heading2 }}</span></div>
          </div>
        </a>
      </li>

      {% endif %}
      {% when 3 %}
      {% if settings.navlink3_image %}
      <li class="nav-single-img">
        <a  class="top-mega-nav-link_mm{% if link.active %} active{% endif %} level-1" href="{{ link.url }}">
          <div class="menu-image-teaser-link-wrapper">
            <img loading="lazy" src="{{ settings.navlink3_image | img_url: '500x' }}" />
            <div class="top-mega-nav-link-image-right-text">{{ settings.navlink3_heading1 }}<span>{{ settings.navlink3_heading2 }}</span></div>
          </div>
        </a>
      </li>

      {% endif %}
      {% when 4 %}
      {% if settings.navlink4_image %}
      <li class="nav-single-img">
        <a  class="top-mega-nav-link_mm{% if link.active %} active{% endif %} level-1" href="{{ link.url }}">
          <div class="menu-image-teaser-link-wrapper">
            <img loading="lazy" src="{{ settings.navlink4_image | img_url: '500x' }}" />
            <div class="top-mega-nav-link-image-right-text">{{ settings.navlink4_heading1 }}<span>{{ settings.navlink4_heading2 }}</span></div>
          </div>
        </a>
      </li>

      {% endif %}
      {% when 5 %}
      {% if settings.navlink5_image %}
      <li class="nav-single-img">
        <a  class="top-mega-nav-link_mm{% if link.active %} active{% endif %} level-1" href="{{ link.url }}">
          <div class="menu-image-teaser-link-wrapper">
            <img loading="lazy" src="{{ settings.navlink5_image | img_url: '500x' }}" />
            <div class="top-mega-nav-link-image-right-text">{{ settings.navlink5_heading1 }}<span>{{ settings.navlink5_heading2 }}</span></div>
          </div>
        </a>
      </li>

      {% endif %}

      {% when 6 %}
      {% if settings.navlink6_image %}
      <li class="single-featured-image top-mega-nav-link-image-mm top-mega-nav-link-image-right top-mega-nav-link_mm_li image__link{% if link.active %} active{% endif %} level-1">
        <a  class="top-mega-nav-link_mm{% if link.active %} active{% endif %} level-1" href="{{ link.url }}">
          <div class="menu-image-teaser-link-wrapper">
            <img loading="lazy" src="{{ settings.navlink6_image | img_url: '500x' }}" />
            <div class="top-mega-nav-link-image-right-text">{{ settings.navlink6_heading1 }}<span>{{ settings.navlink6_heading2 }}</span></div>
          </div>
        </a>
      </li>

      {% endif %}

      {% endcase %}


    </nav>
    {% endif %}
</div>

