{%- style -%}
  .sgrid {
    display: grid;
  }
  @media (min-width: 600px) {
    .desktop-sgrid-1 {
      grid-template-columns: 1fr;
    }
    .desktop-sgrid-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    .desktop-sgrid-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    .desktop-sgrid-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    .desktop-width-100 {
      width: 100%
    }
    .desktop-width-95 {
      width: 95%
    }
    .desktop-width-90 {
      width: 90%
    }
    .desktop-width-85 {
      width: 85%
    }
    .desktop-width-80 {
      width: 80%
    }
    .desktop-width-75 {
      width: 75%
    }
    .desktop-width-70 {
      width: 70%
    }
  }
  @media (max-width: 600px) {
    .mobile-sgrid-1 {
      grid-template-columns:  1fr;
    }
    .mobile-sgrid-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    .mobile-sgrid-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    .mobile-sgrid-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    .mobile-width-100 {
      width: 100%
    }
    .mobile-width-95 {
      width: 95%
    }
    .mobile-width-90 {
      width: 90%
    }
    .mobile-width-85 {
      width: 85%
    }
    .mobile-width-80 {
      width: 80%
    }
    .mobile-width-75 {
      width: 75%
    }
    .mobile-width-70 {
      width: 70%
    }
  }
{%- endstyle -%}

{%- liquid 
  assign text_align = section.settings.text_align
  assign px = section.settings.px
  assign pt = section.settings.pt
  assign hide_price = section.settings.hide_price
  assign font_sm = section.settings.font_sm
  assign font_md = section.settings.font_md
  assign max-width = section.settings.max-width
  assign max-width-mobile = section.settings.max-width-mobile
  -%}



<div style="display: flex; justify-content: center; padding: {{section.settings.mt}}px 0px {{section.settings.mb}}px 0px">
    <div class="desktop-width-{{max-width}} mobile-width-{{max-width-mobile}} sgrid desktop-sgrid-{{section.settings.row_md}} mobile-sgrid-{{section.settings.row_sm}}" style="column-gap: {{section.settings.column_gap}}rem; row-gap: {{section.settings.row_gap}}rem;">
        {%- liquid 
          for block in section.blocks
            assign blocks_qty = section.blocks.size
            case block.type
              when 'product'
                render 'block__product_row',block: block, hide_price: hide_price, text_align: text_align, pt: pt, px: px, font_md: font_md, font_sm: font_sm
              when 'collection'
                render 'block__collection_row', block: block, text_align: text_align, pt: pt, px: px, font_md: font_md, font_sm: font_sm
              when 'hover_image'
                render 'block__hover-image_row', block: block, text_align: text_align, pt: pt, px: px, font_md: font_md, font_sm: font_sm
            endcase
          endfor
        -%}
    </div>
</div>

{% schema %}
{ "name": "Super Grid",
  "settings": [
        {
          "type": "paragraph",
          "content": "Always Save after changes to display images properly."
        },
        {
          "label": "Container Size Desktop",
          "type": "range",
          "id": "max-width",
          "min": 70,
          "max": 100,
          "step": 5,
          "default": 100
        },
        {
          "label": "Container Size Mobile",
          "type": "range",
          "id": "max-width-mobile",
          "min": 70,
          "max": 100,
          "step": 5,
          "default": 100
        },
        {
          "label": "Elements per row Desktop",
          "type": "range",
          "id": "row_md",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 4
        },
        {
          "label": "Elements per row Mobile",
          "type": "range",
          "id": "row_sm",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 2
        },
        {
          "label": "Space between Columns",
          "type": "range",
          "id": "column_gap",
          "min": 0,
          "max": 4,
          "step": 0.5,
          "default": 1
        },
        {
          "label": "Space between Rows",
          "info": "Applies only when there is more than one row",
          "type": "range",
          "id": "row_gap",
          "min": 0,
          "max": 4,
          "step": 0.5,
          "default": 2
        },
        {
          "label": "Grid Container Margin Bottom",
          "type": "range",
          "id": "mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50
        },
        {
          "label": "Grid Container Margin Top",
          "type": "range",
          "id": "mt",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        },
        {
          "label": "Font Size Desktop",
          "type": "range",
          "id": "font_md",
          "min": 0,
          "max": 4,
          "step": 0.1,
          "default": 1
        },
        {
          "label": "Font Size Mobile",
          "type": "range",
          "id": "font_sm",
          "min": 0,
          "max": 4,
          "step": 0.1,
          "default": 1
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Global Text Alignment",
          "info": "Can be overriden from within each block settings",
          "default": "center",
          "options": [
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "label": "Global Padding Top Text",
          "type": "range",
          "info": "Only use if you plan on having every text under the images",
          "id": "pt",
          "min": 0,
          "max": 5,
          "step": 0.5,
          "default": 0
        },
        {
          "label": "Global Padding Sides Text",
          "type": "range",
          "id": "px",
          "min": 0,
          "max": 5,
          "step": 0.5,
          "default": 1
        },
        {
          "type": "checkbox",
          "id": "hide_price",
          "label": "Hide Product's Price",
          "default": false
        }
      ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "paragraph",
          "content": "Always Save after changes to display images properly. If images continue not to display after a few seconds, reload the page"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "checkbox",
          "id": "text_absolute",
          "label": "Text inside image",
          "info": "If you want the text to be under the image leave this unchecked",
          "default": false
        },
        {
          "label": "Text Vertical Align",
          "type": "range",
          "info": "Will only work if 'Text inside image' is checked",
          "id": "text_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50
        },
        {
          "type": "checkbox",
          "id": "custom_align",
          "label": "Allow horizontal align",
          "info": "This will override the Section's text-align setting",
          "default": false
        },
        {
          "type": "select",
          "id": "text_horizontal_align",
          "label": "Custom Text Alignment",
          "info": "Will work only if 'Allow horizontal align' is checked",
          "default": "center",
          "options": [
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default" : "#000000"
        },
        {
          "type": "checkbox",
          "id": "show_info",
          "label": "Show Text",
          "default": true
        }
      ]
    },
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "paragraph",
          "content": "Always Save after changes to display images properly. If images continue not to display after a few seconds, reload the page"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "checkbox",
          "id": "show_info",
          "label": "Show Text",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "text_absolute",
          "label": "Text inside image",
          "info": "If you want the text to be under the image leave this unchecked",
          "default": false
        },
        {
          "label": "Text Vertical Align",
          "type": "range",
          "info": "Will only work if 'Text inside image' is checked",
          "id": "text_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50
        },
        {
          "type": "checkbox",
          "id": "custom_align",
          "label": "Allow horizontal align",
          "info": "This will override the Section's text-align setting",
          "default": false
        },
        {
          "type": "select",
          "id": "text_horizontal_align",
          "label": "Custom Text Alignment",
          "info": "Will work only if 'Allow horizontal align' is checked",
          "default": "center",
          "options": [
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default" : "#000000"
        }
      ]
    },
    {
      "type":"hover_image",
      "name":"Hover image",
      "settings":[ 
        {
        "type":"url",
        "id":"image_link",
        "label":"Link (optional)"
        },
        {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
        },
        {
        "type": "image_picker",
        "id": "image_2",
        "label": "Hover Image (optional)"
        },
        {
        "type": "text",
        "id": "image_text",
        "label": "Text (optional)"
        },
        {
          "type": "checkbox",
          "id": "text_absolute",
          "label": "Text inside image",
          "info": "If you want the text to be under the image leave this unchecked",
          "default": false
        },
        {
          "label": "Text Vertical Align",
          "type": "range",
          "info": "Will only work if 'Text inside image' is checked",
          "id": "text_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50
        },
        {
          "type": "checkbox",
          "id": "custom_align",
          "label": "Allow horizontal align",
          "info": "This will override the Section's text-align setting",
          "default": false
        },
        {
          "type": "select",
          "id": "text_horizontal_align",
          "label": "Custom Text Alignment",
          "info": "Will work only if 'Allow horizontal align' is checked",
          "default": "center",
          "options": [
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default" : "#000000"
        }
      ]
    }
  ],
  "presets": [
      {
        "category": "Super Grid",
        "name": "Super Grid"
      }
    ]
}
{% endschema %}

